# SPDX-FileCopyrightText: Copyright 2025 Carabiner Systems, Inc
# SPDX-License-Identifier: Apache-2.0

name: go-tests

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {}

permissions: {}

jobs:
  test:
    permissions:
      id-token: write # needed for keyless signing
      contents: read

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: '1.24'
        check-latest: true
        cache: true

    - name: Test
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: |
        go get -d ./...
        go test -v ./...
